In [ ]:
import sys
print(sys.executable)

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv',sep = '\t', header=None)

In [6]:
# delete data with missing values
df.dropna(subset=[2], inplace=True)
df.reset_index(drop=True, inplace=True)
display(df)

# store variables with information about the data
# info from http://ocelma.net/MusicRecommendationDataset/lastfm-360K.html
users = df[0].unique()
nUsers = len(users)
artists = df[1].unique()
nArtists = len(artists)

# add column for ranking
cur_user = 0
rank_ct = 1
rankings = [0] * len(df)
for idx, data in df.iterrows():
    #print(idx, data)
    #print(data[0])
    
    if cur_user != data[0]:
        cur_user = data[0]
        rank_ct = 1
    
    rankings[idx] = rank_ct
    rank_ct += 1

# find unique user ids, change user ids
#print(nUsers, nArtists)
user_dict = dict(zip(users.tolist(), range(nUsers)))
artist_dict = dict(zip(artists.tolist(), range(nArtists)))

,0,1,2,3,4
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137,2
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099,3
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897,4
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717,5
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706,6
...,...,...,...,...,...
17535446,"sep 20, 2008",7ffd711a-b34d-4739-8aab-25e045c246da,turbostaat,12,45
17535447,"sep 20, 2008",9201190d-409f-426b-9339-9bd7492443e2,cuba missouri,11,46
17535448,"sep 20, 2008",e7cf7ff9-ed2f-4315-aca8-bcbd3b2bfa71,little man tate,11,47
17535449,"sep 20, 2008",f6f2326f-6b25-4170-b89d-e235b25508e8,sigur rós,10,48
17535450,"sep 20, 2008",40f5d9e4-2de7-4f2d-ad41-e31a9a9fea27,the smiths,10,49

In [7]:
#print(rankings[0:100])

df[4] = rankings
display(df)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]

,0,1,2,3,4
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137,1
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099,2
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897,3
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717,4
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706,5
...,...,...,...,...,...
17535446,"sep 20, 2008",7ffd711a-b34d-4739-8aab-25e045c246da,turbostaat,12,44
17535447,"sep 20, 2008",9201190d-409f-426b-9339-9bd7492443e2,cuba missouri,11,45
17535448,"sep 20, 2008",e7cf7ff9-ed2f-4315-aca8-bcbd3b2bfa71,little man tate,11,46
17535449,"sep 20, 2008",f6f2326f-6b25-4170-b89d-e235b25508e8,sigur rós,10,47
17535450,"sep 20, 2008",40f5d9e4-2de7-4f2d-ad41-e31a9a9fea27,the smiths,10,48

In [8]:
my_df = pd.read_csv('janelleek_lastfm_data.txt',sep = '\t', header=None) 
frames = [my_df, df]
final_df = pd.concat(frames)
display(final_df)

,0,1,2,3,4
0,janelleek,20244d07-534f-4eff-b4d4-930878889970,Taylor Swift,1867,1
1,janelleek,9f81247f-7f57-42f3-a8ba-75bef554e591,Big Thief,1106,2
2,janelleek,763cb144-afdb-471e-bd86-d4f5b9b58641,Adrianne Lenker,824,3
3,janelleek,4a42d940-ad63-4b06-a871-f6e37eab4c6f,Field Medic,789,4
4,janelleek,01d3c51b-9b98-418a-8d8e-37f6fab59d8c,Sufjan Stevens,778,5
...,...,...,...,...,...
17535446,"sep 20, 2008",7ffd711a-b34d-4739-8aab-25e045c246da,turbostaat,12,44
17535447,"sep 20, 2008",9201190d-409f-426b-9339-9bd7492443e2,cuba missouri,11,45
17535448,"sep 20, 2008",e7cf7ff9-ed2f-4315-aca8-bcbd3b2bfa71,little man tate,11,46
17535449,"sep 20, 2008",f6f2326f-6b25-4170-b89d-e235b25508e8,sigur rós,10,47
17535450,"sep 20, 2008",40f5d9e4-2de7-4f2d-ad41-e31a9a9fea27,the smiths,10,48

In [18]:
data = df.to_numpy()
np.random.shuffle(data)

# Set up train and test data
train_size = (len(data) // 10) * 8
train_data = data[:train_size]
test_data = data[train_size:]

14028360